.contactForm {
  background-image: url('../../assets/contactBackground.jpg');
  background-size: cover;
  background-position: center;
  padding: 104px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.contact-form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1;
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  color: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 2;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(201, 227, 249);
  color: white;
  transform: scale(1.03);
}


@media (max-width: 768px) {
  .contactForm {
      padding: 50px 0;
  }

  .contact-form-container {
      padding: 15px;
  }

  .form-group input,
  .form-group textarea {
      font-size: 0.9rem;
  }

  button {
      padding: 8px 16px;
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .contactForm {
      padding: 20px 0;
  }

  .contact-form-container {
      padding: 10px;
      max-width: 90%; 
  }

  .contact-form-container h2 {
      font-size: 1.5rem; 
  }

  .form-group input,
  .form-group textarea {
      font-size: 0.8rem;
      padding: 8px; 
  }

  .form-group textarea {
      min-height: 80px; 
  }

  button {
      padding: 6px 12px;
      font-size: 0.8rem;
  }
}